numpy
imutils
dlib
opencv-python
sklearn

Note : untuk datasets kami menggunakan datasets dari Prajna 
dan menambah beberapa lagi, untuk lebih lengkap dataset serta file
model masker ada di github.

Github : https://github.com/UnoArroefy/Face-mask-detection
